rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents { 
  	
    // --------------- Role Checks --------------
  	//function isAdmin() {
    //  let role = get(/databases/$(database)/documents/profiles/$(request.auth.uid)).data.role;
    //  let isAdmin = role == 'Administrator';
      
		// return isAdmin;
    // }
    
  	function isUser() {
    	let isAuthorized = request.auth != null;
    	let doesUserExist = exists(/databases/$(database)/documents/profiles/$(request.auth.uid));
      
      return isAuthorized && doesUserExist;
    }
    
    // ---------------- Games ----------------------
    function valid_games_read() {
    	let userIsPlayer = request.auth.uid in resource.data.players;
      
      return userIsPlayer;
    }
    
    function valid_games_create() {
    	let isCreatorInPlayerList = request.auth.uid in request.resource.data.players;
      let creatorIsOwner = request.auth.uid in resource.data.ownerId;
      
      return isCreatorInPlayerList && creatorIsOwner;
    }
    
    match /games/{gameId} {
    	allow read : if isUser() && valid_games_read();
      allow update: if isUser();
      allow create : if isUser() && valid_games_create();
    }
    
    // ---------------- Profile ----------------------
    function valid_profile_update() {
      let isUserRequestingUpdate = request.auth.uid == request.resource.id;
      
      return isUserRequestingUpdate;
    }
    
    function valid_profile_create(userId, requestUserId) {
    	let doesUserNotExist = !exists(/databases/$(database)/documents/profiles/$(userId));
      let isUserSameAsUserBeingCreated = userId == requestUserId;
      // let doesRequestSetUserIdToRequestsUserId = request.resource.data['userId'] == userId;
      // let doesRequestSetRoleAsGuest = request.resource.data['role'] == 'Guest';
      
      return true;
      // return doesUserNotExist && isUserSameAsUserBeingCreated;
    }
    
    match /Profiles/{userId} {
    	allow read : if isUser();
      allow update: if isUser() && valid_profile_update();
      allow create: if valid_profile_create(userId, request.auth.uid);
    }
  }
}